.board {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: white;
  overflow: hidden;
}
.inner-board-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}
